<center><img src="https://i.ytimg.com/vi/AGB3lPhjLaE/maxresdefault.jpg" style="width:500px;height:200px;">
<center><h1><font color="darkorange">Make your edits</h1></font>
<center><h2><font color="darkorange">Candy:</font> <%= @candy.name %></h1>

<form action="/candies/<%= @candy.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" name="name"><br>
  <br>
  <input type="submit" value="Change">
</form>

or

<form action="" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete" id="Delete">
</form>
<br>
<br>
<br>
<a href="/users/:id">Back to Homepage</a>
<br>
<br>
<a href="/logout">Logout</a>
