<form action="/candies/<%= @candy.id %>" method="patch">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="<%= @candy.name %>">
  <input type="submit" value="Change">
</form>
