<center><img src="http://media.istockphoto.com/illustrations/winking-juggling-candy-corn-illustration-id467728498?k=6&m=467728498&s=612x612&w=0&h=Amkj0OYMiYqBzEpt11Ajoqi8fQYgDdw0NX27yJ5Yg1I=" style="width:150px;height:150px;">


<center><h1><font color="orange">All candies</font></h2>
<br>
<br>
<br>
<% @candies.each do |c| %>
<%= c.name %><br>
<br>
<% end %>
<br>

<a href="/users/:id">Homepage</a>
