<center><h1><font color="orange"><%= @user.username.capitalize %>'s candies</font></h2>

<br>
<br>
<br>
<% @candies.each do |c| %>
<%= c.name %><br>
<br>
<% end %>
<br>

<a href="/users/:id">Account</a>
