<center>Hello <%= @user.username.capitalize %>

<br>
Your Candy:
<br>
<br>
<% @candies.each do |c| %>
<%= c.name %><br>
<br>
<% end %>
<br>

<a href="/candies/new">Got new?</a>
<a href="/sessions/logout">Log Out</a>
