<center><img src="http://www.wilsoninfo.com/halloweenclipart/frankenstein-trick-or-treat.jpg" style="width:200px;height:200px;">
<center><font color="orange"><h1>Got a new treat?</h1></font>

  <form action="/candies" method="post">
    <br>
    <br>
    What did ya get?: <input type="text" name="name" id="name">
    <input type="submit" name="submit" value="submit">
  </form>
