<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>
<center><h1><font color="orange"><%= @candy.name %></h1></font>
  <br>
  <br>
<form action="/candies/<%= @candy.id %>/edit">
      <input type="submit" value="edit" />
  </form>
<br>
<br>
  <form action="" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete" id="Delete">
  </form>
  <br>
  <br>
  <a href="/users/:id">Homepage</a>
