<center><h1><font color="darkorange">Login Here</h1></font>
<br>
<br>

<img src="http://mechanicsburgborough.org/wp-content/uploads/2014/10/trickortreatpic.png" style="width:200px;height:200px;">
<br>
<br>
<form action="/login" method="post">
  Username: <input type="text" name="username" id="username"><br>
  <br>
  <br>
  Password: <input type="text" name="password" id="password">
  <input type="submit" name="Login" value="Login">
</form>
