<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwr4aefIrFzJuTK6-2AbRo82xUwxxnTJss2OQ1tVTUjKcWNorg" style="width:200px;height:200px;">
<center><h1><font color="orange">-Trick</font><font color="black">-or</font><font color="orange">-Treats-</font></h1>
<h2>Create a new account below:</h2>
<form action="/signup" method="post">
  Enter Username: <input type="text" name="username" id="username"><br>
  <br>
  <br>
  Enter Email: <input type="text" name="email" id="email"><br>
  <br>
  <br>
  Enter Password: <input type="text" name="password" id="password"><br>
  <br>
  <br>
  <input type="submit" value="Create Account" id="Create Account">

</form>
