<center><h1><font color="orange">Your candies</font></h2>

i need to have this page list a particular users items.

<br>

<a href="/candies/new">Add new Treats?</a>
<br>
<br>
<a href="/candies/:id/edit">Edit Treats?</a>
<br>
<br>
<a href="/candies">Profile</a>
<br>
<br>
<a href="/logout">Logout</a>
