<center><h1><font color="orange">All of your candies:</font></h2>

<% @user.candies.each.with_index do |c| %>
<font color="orange">><%= c.name %><br></font>
<br>
<% end %>


<br>

<a href="/candies/new">Add new Treats?</a>
<br>
<br>
<a href="/candies/:id/edit">Edit Treats?</a>
<br>
<br>
<a href="/candies">Profile</a>
<br>
<br>
<a href="/logout">Logout</a>
